@import url('https://fonts.cdnfonts.com/css/poppins');
body{
  font-family: 'Poppins',sans-serif;
}
:root{
  --red:#D01C28;
  --grey:#2e2e2e;
}
.container{
  margin: 0 auto;
  max-width: 940px;

}
button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius:3px ;
}

nav{
  display: flex;
  justify-content: space-between;
  
  height: 50px;
  align-items: centers;

  
}
nav:hover{
  box-shadow: 1px 0px 2px grey;
}
nav ul{
  display: flex;
  list-style-type: none;
  height: 72px;
  gap: 30px;

}
a{
  text-decoration: none;
  color: black;
 

}
a:hover{
  display: block;
 
  text-decoration: underline;
  animation-name: links;
  animation-duration: 2s;
  
}
.hero{
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
  
}
.hero h1{
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}

.hero p{
  font-weight: 300;
  color: var(--grey);
  max-width: 400px;
}

.hero-btn{
  display: flex;
  gap: 40px;

  
}
.hero-btn{
  font-size: 24px;
}
.secondary-btn{
  background: transparent;
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 3px;
  
  
}
.shoping p{
  font-size: 14px;
  margin-bottom: 8px;
 


}
.brand-icons{
  display: flex;
  gap: 16px;
  cursor: pointer;

}
.hero-content{
  display: flex;
  flex-direction:column ;
  gap: 30px;
}

